* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    background-color: #79d70f;
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;
}
.logo-container,.nav-links{
    display: flex;
}
.logo-container{
    flex: 1;
}
.logo{
    font-weight: 400;
    margin-top: 15px;
    margin-left: 7px;
}
nav{
flex: 2;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: #000;
}

.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;

}
.introduction{
    flex: 1;
}
.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    -webkit-background-clip: text;
    color: #ffd800;
}
.cpa{
    padding: 50px 0px 0px 0px;
}
.cta-select{
    border: 2px solid #ffd800 ;
    background: transparent;
    color: #ffd800;
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.cta-select:hover{
    border: none;
    background-color:#ffd800 ;
    color: #000;
}
.intro-text p{
    margin-top: 5px;
    font-size: 22px;
}
.cover img {
		height: 80%;
    }
    .cover {
        flex: 1;
        display: flex;
        justify-content: center;
        height: 60vh;
    }
    .cover img {
        height: 100%;
        filter: drop-shadow(0px 5px 3px black);
        animation: drop 1.5s ease;
    }
    @keyframes drop{
        0%{
            opacity: 0;
            transform: translateY(-80px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }
    @media screen  and (max-width: 1024px)
    {
        .presentation{
            flex-direction: column;
        }
        .introduction{
            margin-top: 5vh;
            text-align: center;
        }
        .intro-text h1{
            font-size: 30px;
        }
        .intro-text p{
                font-size: 18px;
        }
        .cta{
            padding: 10px 0px 0px 0px;
        }
    
        .cover img{
            height: 80%;
        }
    }
/*  */
